@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Jost', Arial, Helvetica, sans-serif;
}
/*  Comienzo reglas Header */
header{
  display: flex;
  flex-direction: row;
}

.logo-primary {
  align-items: center;
  background-color:#E41C26;
  display: flex;
  height: 128px;
  justify-content: center;
  width: 25%;
}

.browser-container {
  display: flex;
  flex-direction: column;
  height: 128px;
  width: 75%;
}

.contact-bar {
  background-color: #111111;
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: space-between;
  width: 100%;
}

.contact {
  display: flex;
}

.contact li {
  align-items: center;
  border: solid 1px #2A2A2A;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  list-style: none;
}

.contact li p{
  margin-left: 10px;
}

.rrss {
  display: flex;
}

.rrss li {
  border: solid 1px #2A2A2A;
  flex-direction: row;
  list-style: none;
  padding: 16px 20px;
}

.rrss li a {
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  height: 80px;
  justify-content: flex-end;
}

nav ul {
  align-items: center;
  display: flex;
}

nav ul li {
  align-items: center;
  color: #111111;
  flex-direction: row;
  list-style: none;
  padding: 28px 20px;
  text-decoration: none;
}

nav ul li a {
  color: #111111;
  text-decoration: none;
}

.search-btn {
  border: solid 1px #EEEEEE;
  padding: 28px;
}

.burger-menu {
  background-color: #E41C26;
  color: #ffffff;
  height: 100%;
  padding:20px;
  width: 100%;
}

.burger-menu svg {
  height: 40px;
  width: 40px;
}
/*  Fin reglas Header */

/*  Comienzo reglas Generales */
.banner {
  background-image: url('../img/compartidas/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}


.wrapper {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 60px auto ;
  justify-content: space-between;
}

.box-1 {
  width: 50%;
  padding-right: 20px;
  padding-bottom: 40px;
}

.box-2 {
  width: 50%;
  overflow: hidden;
}


/*  Fin reglas Generales */

/*  Comienzo reglas templates 1 */

/*  Comienzo reglas templates 2 */

/*  Comienzo reglas templates 3 */

/*  Comienzo reglas templates 4 */


/*  Comienzo reglas Footer */
footer {
  background-color: #111111;
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.container-left{
  display: flex;
  flex-direction: column;
  width: 250px;
  margin:40px 0;
} 

.container-left figure{
  display: flex;
  justify-content: center;
} 

.direction {
  display: flex;  
}

.color-text {
  color: #ffffff;
  text-decoration: none;
}

.direction-icon {
  color: #E41C26;
  height: 32px;
  width: 32px;
  margin: 10px;
}

.tel-icon {
  color: #E41C26;
  height: 24px;
  width: 24px;
  margin: 10px;
}

.rrss-footer {
  align-items: center ;
  display: flex;
  justify-content: space-around;
}

.rrss-footer svg{
  color: #E41C26;
  margin: 20px 0;
  height: 32px;
  width: 32px;
}

.container-right {
  align-items: center;
  display: flex;
}

.column-footer {
  padding: 20px;
}

.column-footer h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
}

.column-footer ul li {
  list-style: none;
  padding: 10px 0;
}

.column-footer ul li a{
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}

.copy {
  background-color: #000000;
  display: flex;
  height: 60px;
}

.copy p{
  color: #ffffff;
  justify-content: center;
  margin: auto;
  text-align: center;
}
/*  Fin reglas Footer */

/*  Reglas para cuando el tamaño de la pantalla sea menor a 850px */
@media only screen and (max-width: 850px) {
  header  {
    flex-direction: column;
  }

  .logo-primary {
    width: 100%;
  }

  .browser-container{
    width: 100%;
  }

  .container-footer {
    flex-direction: column;
    width: 90%;
  }

  .container-right,
  .container-left {
    justify-content: center;
  }
}
